@page "/remove-beer/{Id:int}"

@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http 
@inject NavigationManager NavigationManager

<h3>Remove Beer</h3>

<p>Are you sure to delete this Beer?</p>

<div>
    <button class="btn btn-secondary p-1" @onclick="@Cancel">Cancel</button>
    <button class="btn btn-danger p-1" @onclick="@Delete">Remove</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private String Resource = "/api/beers";

    ServiceResponse<Object> oRes = new ServiceResponse<Object>();

    private async Task Delete()
    {
        var response = await Http.DeleteAsync(Resource + "/" + Id);
        //oRes = response.Content.ReadFromJsonAsync<ServiceResponse<List<Beer>>>().Result;
        NavigationManager.NavigateTo("/beers");
    }

    private void Cancel() => NavigationManager.NavigateTo("/beers");
}

